CompOFA/__pycache__
CompOFA/*.swp
CompOFA/.tmp
CompOFA/.vscode
CompOFA/downloads/
CompOFA/horovod
CompOFA/runs/
CompOFA/*.zip
__pycache__/
*.pyc
villain_net/__pycache__
utils/__pycache__
/classification_datasets_poisoned/**/*.png
/classification_datasets_poisoned/**/*.ppm
/classification_datasets_poisoned/**/*.csv
/classification_datasets/**/*.ppm
/classification_datasets/**/*.png
/classification_datasets/**/*.csv
wandb/
.idea/
.vscode/
